* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;

    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
    height: fit-content;
    flex-basis: 100%;
}

.roll-dice {
     height: 50px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;


}